/* * {
  border: yellow solid 3px;
} */

html {
  height:100%;
}

body {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0px;
}

h1 {
  font-size: 70px;
  margin: 10px;
  font-family: 'Fredoka One', cursive;
}

h2 {
  font-size: 30px;
  font-family: 'Fredoka One', cursive;
}

button {
  transition: 100ms;
  font-family: 'Shippori Antique B1', sans-serif;
  background-color: #42f59e;
}

button:hover {
  transform: scale(1.2);
}

h4 {
  font-size: 30px;
  margin: 32px;
  font-family: 'Fredoka One', cursive;
}

img {
  max-width: 30%;
}

.wins {
  font-size: 20px;
  margin: 5px;
  font-family: 'Shippori Antique B1', sans-serif;
}

.emoji {
  font-size: 40px;
  margin-top: 30px;
}

.wins-box {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #CD81F1;
  padding: 35px;
  color: white;
}

.change-game-box {
  margin-top: 250px;
}

.middle-box {
  width: 130%;
  background-color: #C76AF1;
}

.title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px;
  margin-bottom: 20px;
  color: white;
}

.game-box {
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: space-evenly;
  align-items: center;
}

.game-rules-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}
