html {
  height:100%;
}

body {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  margin: 0px;
  overflow: hidden;
}

h1, h2, h4 {
  font-family: 'Fredoka One', cursive;
}

h1 {
  font-size: 70px;
  margin: 10px;
  text-align: center;
}

h2 {
  color: #42f59e;
  font-size: 30px;
}

h4 {
  font-size: 30px;
  margin: 32px;
}

button {
  background-color: #42f59e;
  border: 5px;
  cursor: pointer;
  font-family: 'Shippori Antique B1', sans-serif, cursive;
  transition: 100ms;
}

button:hover {
  transform: scale(1.2);
}

img {
  max-width: 24%;
  padding: 10px;
}

img[data-img="hoverable"] {
  cursor: pointer;
  transition: 100ms;
}

img[data-img="hoverable"]:hover {
  transform: scale(1.2);
}

.classic-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

.difficult-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
}

.game-results {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 100px;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 270px;
}

.wins {
  font-size: 25px;
  font-family: 'Shippori Antique B1', sans-serif;
  margin: 5px;
}

.emoji {
  font-size: 123px;
  margin-top: 30px;
}

.wins-box {
  align-items: center;
  background-color: #CD81F1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 35px;
  width: 30%;
}

.change-game-box {
  margin-top: 5px;
}

.middle-box {
  background-color: #C76AF1;
  width: 130%;
}

.title-box {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 60px;
  margin-bottom: 20px;
}

.game-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: -20px;
}

.game-rules-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}

.classic-game-button {
  width: 170.73px;
}

.computer-text {
  margin-top: 58px;
}

.hidden {
  display: none;
}
